/DrivingAssistant/.vs
/DrivingAssistant/DrivingAssistant.AndroidApp/bin
/DrivingAssistant/DrivingAssistant.AndroidApp/obj
/DrivingAssistant/DrivingAssistant.Core/bin
/DrivingAssistant/DrivingAssistant.Core/obj
/DrivingAssistant/DrivingAssistant.WebServer/bin
/DrivingAssistant/DrivingAssistant.WebServer/obj