/DrivingAssistant/.vs
/DrivingAssistant/DrivingAssistant.AndroidApp/bin
/DrivingAssistant/DrivingAssistant.AndroidApp/obj
/DrivingAssistant/DrivingAssistant.AndroidApp/Assets
/DrivingAssistant/DrivingAssistant.Core/bin
/DrivingAssistant/DrivingAssistant.Core/obj
/DrivingAssistant/DrivingAssistant.WebServer/bin
/DrivingAssistant/DrivingAssistant.WebServer/obj
/DrivingAssistant/DrivingAssistant.WindowsApp/bin
/DrivingAssistant/DrivingAssistant.WindowsApp/obj
/DrivingAssistant/packages